/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  transition: all 2s ease-in-out;
  background-repeat: no-repeat;
}

main {
  margin: auto 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.TEXT {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 38px;
  letter-spacing: 3px;
}

.cabeçalho-pesquisar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  gap: 5px;
  color: #ffffff;
}

#country {
  display: none;
}
.cabeçalho-pesquisar input {
  width: 250px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #2c3744;
  color: #ffffff;
  padding-left: 20px;
}

input::placeholder {
  text-align: center;
  color: #ffffff;
}

.cabeçalho-pesquisar button {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #2c3744;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cabeçalho-pesquisar button:hover {
  background-color: #212830;
}

.cabeçalho-pesquisar button > img {
  color: white;
}

.cidade {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  text-transform: capitalize;
  gap: 5px;
}

.cidade img {
  margin-top: 5px;
}

.cidade h2 {
  text-align: center;
  color: #ffffff;
}

.cards-previsao-diaria {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.cards-previsao-diaria article {
  border-radius: 20px;
  color: #ffffff;
  padding: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  transition: all 0.3s linear;
}

.cards-previsao-diaria article:hover {
  transform: scale(1.05);
}

.temperaturaMax-Min {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.Umidade {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clima {
  text-transform: capitalize;
}

.WindHumidity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.wind {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.CidadeTempo {
  font-size: 20px;
  font-weight: 400;
}

/*Modal estilização*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.255);
}
.modal-content .messageGreen {
  width: 100%;
  color: #1cb63e;
  font-size: 16px;
  font-weight: 400;
}
.flexVerify {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #2c3744;
  text-decoration: none;
  cursor: pointer;
}

#btnCopiarLink {
  margin-top: 12px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.6s ease-in-out;
  background-color: #2c3744;
  color: #fff;
}

#btnCopiarLink:hover {
  background-color: #3f5169;
  color: #fff;
}

#linkCompartilhavel {
  width: 350px;
  margin-top: 20px;
  border: 1px solid #2c3744;
  padding: 2px;
}

#linkCompartilhavel:focus-visible {
  outline: none;
}

/* Alertas Estilização */

.divAlerts {
  margin: 30px;
  text-align: center;
  display: none;
}
.Alerta_Titulo {
  color: #ffffff;
  font-weight: 400;
  font-size: 28px;
}

.lista-alertas {
  list-style: none;
  padding: 0;
}
.lista-alertas li {
  color: #fff;
  margin-top: 15px;
}

.alerta-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.alerta-item h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #f00;
}

.alerta-item p {
  margin: 0;
}
.messageError {
  font-size: 15px;
  font-weight: 400;
  color: #fefefe;
}

/* Mídia para dispositivos menores */
@media screen and (max-width: 1128px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards-previsao-diaria {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards-previsao-diaria article:hover {
    transform: none;
  }
  .TEXT {
    font-size: 28px;
  }
  .cards-previsao-diaria article {
    padding: 10px;
  }
  #linkCompartilhavel {
    width: 100%;
  }

  .cabeçalho-pesquisar input {
    width: 200px;
  }
  .Alerta_Titulo {
    font-size: 25px;
  }
}

/* Mídia para dispositivos menores */
@media screen and (max-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards-previsao-diaria {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-previsao-diaria article:hover {
    transform: none;
  }
  .TEXT {
    font-size: 28px;
  }
  .cards-previsao-diaria article {
    padding: 10px;
  }
  #linkCompartilhavel {
    width: 100%;
  }

  .cabeçalho-pesquisar input {
    width: 200px;
  }
  .Alerta_Titulo {
    font-size: 25px;
  }
}
@media screen and (max-width: 550px) {
  main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards-previsao-diaria {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .cards-previsao-diaria article:hover {
    transform: none;
  }
  .TEXT {
    font-size: 28px;
  }
  .cards-previsao-diaria article {
    padding: 10px;
  }
  #linkCompartilhavel {
    width: 100%;
  }

  .cabeçalho-pesquisar input {
    width: 200px;
  }
  .Alerta_Titulo {
    font-size: 25px;
  }
}
